.shoe{
    background-color: rgb(38, 53, 67);
    width: 32%;
    height: 400px;
    position: relative;
    border-radius: 20px;
    scale: 0;
    animation: scal-animation 0.7s forwards cubic-bezier(0.86, 0, 0.07, 1) ;
}
.shoe .title{
    overflow: hidden;
    background: var(--secondry);
    color: white;
    margin: 0;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    height: 25px;
}
.shoe img{
    width: 100%;
    height: 74%;
}
.shoe .price{
    background: var(--secondry);
    color: white;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    margin: 0;
}

@keyframes scal-animation{
    to{
        scale: 1;
    }
}
/* .shoe .year{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 140, 255);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
    color: white;
} */

@media (max-width:768px) {
    .shoe{
        width: 48%;
    }
}


@media (max-width:480px) {
    .shoe{
        width: 100%;
    }
}