.manage-shoes table th,
.manage-shoes table td{
    border: solid;
    padding: 5px;
}
.manage-shoes table{
    border-collapse: collapse;
    width: 100%;
}
.manage-shoes table td{
    font-weight: bold;
    background-color: var(--secondry);
}
.manage-shoes table td textarea{ 
    width: 96%;
    height: 65px;
    resize: none;
}
.manage-shoes table th{
    background-color: var(--primary);
}

.showbtn a{
    color: white;
}