header {
    margin-bottom: 20px;
    background: var(--back);
    padding: 18px;
    border-radius: 8px;
    display: flex;
    height: 33px;
    justify-content: space-around;
}
header *{
    margin: 0;
}
header nav {
    display: flex;
    gap: 23px;
}

header nav a {
    margin-right: 10px;
    position: relative;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

header nav a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--secondry);
    left: 0;
    bottom: -3px;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}

header nav a.active {
    padding: 0 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    scale: 1.2;
}

header nav a.active::after {
width: 100%;
}

header .btn-mobile-menu{
    display: none;
}

header .user{
    display: flex;
    gap: 11px;
}

@media (max-width:768px) {
    header .menu{
        display: none;
    }
    header .btn-mobile-menu{
        display: block;
    }
}